/* Style for the form */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 22px;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="tel"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 35px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .error-message {
    color: red;
    margin-top: -24px;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 2%;
    font-size: 20px;
    text-align: center;
  }
  
  /* Style for the submitted data section */
  .submitted-data {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .submitted-data h3 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  
  .submitted-data p {
    margin: 5px 0;
    font-size: 20px;
  }
  
  /* Optional: Style for the active link in the navigation bar */
  .active-link {
    font-weight: bold;
  }
  